<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="OnlineSupportServiceLibrary.Service1Behavior"
        name="OnlineSupportServiceLibrary.Service1">
        <endpoint address="" binding="wsHttpBinding" contract="OnlineSupportServiceLibrary.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8182/Service1/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="OnlineSupportServiceLibrary.OnlineSupportServiceBehavior"
        name="OnlineSupportServiceLibrary.OnlineSupportService">
        <clear />
        <endpoint address="v1" 
                  binding="basicHttpBinding"
          contract="OnlineSupportServiceLibrary.IOnlineSupportService"
          listenUriMode="Explicit">
        </endpoint>
        <endpoint address="v2"
                  binding="wsHttpBinding"
          contract="OnlineSupportServiceLibrary.IOnlineSupportService"
          listenUriMode="Explicit">
        </endpoint>
        <endpoint address="v3"
                  binding="ws2007HttpBinding"
          contract="OnlineSupportServiceLibrary.IOnlineSupportService"
          listenUriMode="Explicit">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"
          listenUriMode="Explicit">
        </endpoint>
        <endpoint address="net.tcp://localhost:8184/oss" binding="netTcpBinding"
          contract="OnlineSupportServiceLibrary.IOnlineSupportService"
          listenUriMode="Explicit">
        </endpoint>
        <endpoint address="net.pipe://localhost/oss2" binding="netNamedPipeBinding"
          bindingConfiguration="" contract="OnlineSupportServiceLibrary.IOnlineSupportService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8183/oss" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OnlineSupportServiceLibrary.Service1Behavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
        <behavior name="OnlineSupportServiceLibrary.OnlineSupportServiceBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
